* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color:  #730029;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: #fff;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 2px solid #730029;
}

.todo-container {
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 30%;
    min-width: 300px;
    background-color: #fff;
    box-shadow: 2px 7px 12px 3px rgba(0,0,0,0.35);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004D40;
    padding: 4rem 2rem 2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.todo-title {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-family: 'Courgette', cursive;
}

.todo-label {
    font-size: 1.2rem ;
    opacity: .7;
    align-self: flex-start;
    margin-bottom: .4rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.new-task {
    padding: 1rem;
    flex: 1;  
    border: 1px solid #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.new-task:focus {
    outline: 2px solid #730029;
    z-index: 1;
}

.new-task-error {
    border: 1px solid red;
}

.add-task-button {
    padding: 1rem;
    background-color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-task-button:hover {
    color: #004D40;
}

.error-message {
    align-self: flex-start;
    color: red;
    font-size: 1.2rem;
    margin-top: .4rem;
    opacity: 0;
}

.error-message-visible {
    opacity: 1;
}

.tasks-list {
    padding: 3rem 2rem;
    color: #000;
    
}

.tasks-list .tasks-list-item {
    margin: 0 auto;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.tasks-list .tasks-list-item:not(:first-child) {
    border-top: 1px solid #E0F2F1;
    padding-top: 1rem;
}

.task-name {
    flex: 1;
    margin: 0 1rem;
}

.task-list-item-completed .task-name {
    text-decoration: line-through;
    opacity: .6;
}

.delete-button:hover {
    color: #730029;
}

.complete-button:hover {
    color: #004D40;
}

.complete-button .fas {
    color: #004D40;
    opacity: .6;
}

.fa-circle, .fa-trash {
    pointer-events: none;
}






